.fotoindex { /*Imagen sobre texto*/
    position: absolute;
    left: 60px;
    top: 50px;
    z-index: 1;
    color: #ffffff;
}

.efectorounded {
/*story redondear imagen esquinas */
    border-radius: 10px;
}
.efectoreflexion {
/*story 4 efecto reflexion y opacidad gradiente */
    -webkit-box-reflect: right 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.imagengaleria {
    width: 100%;
    height: 56.25%; /*Ajustar a la proporción 16/9*/
}
.imagengaleriaMes {
    width: 100%;
    height: 50%;
}
.imginvert {
/*Invierte el color de una imagen (En este caso la imagen principal)*/
    -webkit-filter: invert(1) hue-rotate(180deg) contrast(2);
    filter: invert(1) hue-rotate(180deg) contrast(2);
}
.imagensobrenosotros {
    width: 650px;
    height: 350px;
    margin: auto;
    display: block;
}

.centrarimagen {
    display: block;
    margin: auto;
}