/*MEDA QUERYS*/
@media (min-width: 1440px) {
    .boxnaranja {
        background-color: var(--naranjaclaro);
        padding: 5rem;
    }
}

@media (max-width: 1439px) {
    .boxnaranja {
        padding: 0 1rem;
    }
    
    .box-shadow {
        border: 1px solid var(--grisneutro);
        background: rgb(255, 255, 255);
        box-shadow: 4px 3px 5px 1px #cac9c9;
        -webkit-box-shadow: 4px 3px 5px 1px #d1cece;
        width: 25rem;
        height: 22rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 4.5rem;
        border-radius: 15px;
        margin-bottom: 2rem;
        margin: auto;
    }
}

@media (max-width: 767px) { /*Tamaño de fuentes adaptado*/
    h1 {
        font-family: 'Segoe UI', sans-serif;
        font-size: 1.2em;
    }
    h2 {
        font-family: 'Segoe UI', sans-serif;
        font-size: 1.1em;
    }
    h3 {
        font-family: 'Segoe UI', sans-serif;
        font-size: 1em;
    }
    p {
        font-family: Verdana, sans-serif;
        font-size: 1em;
    }
    #textindex {
        font-family: Verdana, sans-serif;
        font-size: 1em;
    }
   
    .parrafoPostres {
        text-align: center;
        height: 5em;
    }
  
    .parrafoEventos {
        text-align: center;
        height: 4em;
    }
   
    .imagengaleriaMes {
        width: 100%;
        height: 56.25%; /*Ajustar a la proporción 16/9*/
    }

    .textnav {
        font-size: 1.2rem;  /* Juan Antonio */ 
        padding: 0.75rem 0.5rem;
    }
}

/* Responsive para el Formulario*/
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .tablaFormulario {
        display: grid;
        grid-template-columns: 1fr; /*Numero de columnas*/
        column-gap: 1rem; /*Margen entre columnas*/
        margin: 1rem 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem; /* Juan ANtonio */
        background-color: #cac9c980;
        border: 1px solid #ccc;
        padding: 1rem;
    }
}